/* Table Styling */

.schedule-table {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    font-family: "Arial", sans-serif;
}

.schedule-table th {
    background-color: #942233; /* Dark red for headers */
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
}

.schedule-table td {
    background-color: #f2f2f2;
    color: #333;
    min-width: 140px;
    padding: 15px;
    border: 1px solid #ddd;
    font-size: 15px;
}

.schedule-table tbody tr:hover {
    background-color: #e0e0e0; /* Light gray hover effect */
}

.schedule-table td:first-child {
    font-weight: bold;
}

.teams-item .schedule-table td {
    min-width: 0;
}

.teams-item .schedule-table td:first-child {
    font-weight: normal;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

/* Media Queries */

@media (min-width: 600px) and (max-width: 768px) {

    .schedule-table {
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .schedule-table td {
        min-width: 0;
        font-size: 12px;
    }

    .schedule-table th {
        font-size: 16px;
    }
}

@media (min-width: 769px) and (max-width: 900px) {

    .schedule-table td {
        min-width: 0;
        font-size: 13px;
    }

    .schedule-table th {
        font-size: 15px;
    }
}

@media (min-width: 901px) and (max-width: 1024px) {

    .schedule-table td {
        min-width: 0;
        font-size: 14px;
    }

    .schedule-table th {
        font-size: 18px;
    }
}